html, body {
	text-align: center;
	height: 100%;
}

* {
	padding: 0;
	margin: 0;
}

header {
	position: fixed;
	width: 100%;
	min-height: 60px;
	background-color: #4A3F67;
	display: flex;
}



header div {
	display: flex;
	justify-content: flex-start;
	width: 30vw;
	margin: 10px;
	font-size: 30px;
	color: #DBDBDB;
}

nav {
	display: flex;
	justify-content: flex-end;
	width: 70vw;
}

nav ul {
	display: flex;
	flex-direction: row;
}

@media (max-width: 600px) {
	nav ul {
		display: flex;
		flex-flow: row wrap;
	}
}

nav ul li {
	display: flex;
	font-size: 30px;
	margin: 10px;
	text-decoration: none;
}

nav ul li a {
	display: flex;
	text-decoration: none;
	color: #DBDBDB;
}

h1, h2, h3, h4, h5 {
	font-size: 40px;
}

#Welcome {
	background-color: #252934;
	padding-top: 45vh;
	min-height: 55vh;
	color: #DBDBDB;
}

#Welcome mark {
	background-color: #252934;
	color: #92A2CD;
}

.skill-bars {
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
}

.main-bar {
	height: 50px;
	width: 200px;
	padding: 10px;
	border: 1px solid black;
}

.filled-30 {
	background-color: green;
	width: 30%;
	height: 20px;
}

.filled-50 {
	background-color: green;
	width: 50%;
	height: 20px;
}

.filled-60 {
	background-color: green;
	width: 60%;
	height: 20px;
}

#Contact .fab, .far, .fas {
  padding: 12px;
  width: 64px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 20px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: #000;
  color: grey;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-free-code-camp {
  background: #006400;
  color: white;
  padding-left:12px;
  width: 60px;
  height: 60px;
  border-right: 10px solid #006400;
  border-bottom: 4px solid #006400;
}

.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}

.fa-linkedin {
  background: #007BB5;
  color: white;
}

.fa-envelope {
  background: #006600;
  color: white;
}

.fa-phone {
  background: #660099;
  color: white;
}