html, body {
	text-align: center;
	height: 100%;
	background-color: #E5E5E5;
}

* {
	padding: 0;
	margin: 0;
}

header {
	position: fixed;
	width: 100%;
	min-height: 60px;
	background-color: #4A3F67;
	display: flex;
}

header div {
	display: flex;
	justify-content: flex-start;
	text-decoration: none;
	width: 30vw;
	margin: 10px;
	padding: 10px;
}

header a {
	display: flex;
	text-decoration: none;
	font-size: 30px;
	color: #DBDBDB;
}

nav {
	display: flex;
	justify-content: flex-end;
	width: 70vw;
}

nav ul {
	display: flex;
	flex-direction: row;
}

@media (max-width: 650px) {
	nav ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
}

nav ul li {
	display: flex;
	padding: 10px;
	font-size: 30px;
	margin: 10px;
	text-decoration: none;
}

@media (max-width: 650px) {
	nav ul li {
		padding: 4px;
		margin-top: 4px;
		font-size: 24px;
	}
}

nav ul li a {
	display: flex;
	text-decoration: none;
	color: #DBDBDB;
}

h1, h2, h3, h4, h5 {
	font-size: 40px;
}

#Welcome {
	background-color: #252934;
	padding-top: 45vh;
	min-height: 55vh;
	color: #DBDBDB;
}

h1 {
	margin: 0 20px;
	padding: 0 20px;
}

#Welcome mark {
	background-color: #252934;
	color: #92A2CD;
}

#About {
	min-height: 700px;
	padding: 20px;
}

#About p {
	margin: 20px;
	padding: 10px;
	text-align: left;
	font-size: 24px;
}

#About div {
	margin-top: 100px;
}

#About a {
	text-decoration: none;
	color: #DBDBDB;
	font-size: 24px;
	padding: 10px;
	width: 350px;
	height: 70px;
	background: #33798D;
	border: 2px solid #312B41;
	border-radius: 4px;
}

#About a:hover {
	background: #90C9DA;
	color: #252934;
}

#Portfolio {
	background-color: #6F6980;
	min-height: 700px;
	padding: 20px;
}

#Portfolio p {
	font-size: 24px;
	text-align: left;
	margin: 10px;
	padding: 10px;
}

.skill-bars {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 20px;
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
}

.main-bar {
	display: flex;
	flex-direction: row;
	height: 30px;
	width: 700px;
	padding: 4px;
}

.main-bar i {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8E80B3;
	height: 30px;
	width: 130px;
}

.filled-20 {
	background-color: #745CB3;
	width: 20%;
	height: 30px;
}

.filled-40 {
	background-color: #745CB3;
	width: 40%;
	height: 30px;
}

.filled-50 {
	background-color: #745CB3;
	width: 50%;
	height: 30px;
}

.empty-50 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
	background-color: #DDD0FF;
	width: 50%;
	height: 30px
}

.empty-60 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
	background-color: #DDD0FF;
	width: 60%;
	height: 30px;
}

.empty-80 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
	background-color: #DDD0FF;
	width: 80%;
	height: 30px;
}

.projects {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 40px 0;
}

.web-dev-projects {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.app-projects {
	height: 600px;
	width: 300px;
	overflow: scroll;
}

.app-projects img {
	height: 450px;
	width: 250px;
	object-fit: cover;
}

#Blog {
	padding: 20px;
}

#medium-widget {
	display: flex;
	margin: 30px;
	padding: 30px;
}

#Contact {
	padding: 20px;
}

#Contact .fab, .far, .fas {
  padding: 12px;
  width: 64px;
  height: 64px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 20px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: #E5E5E5;
}

.fa-github {
  background: #000;
  color: grey;
}

.fa-twitter {
  background: #55ACEE;
  color: #E5E5E5;
}

.fa-free-code-camp {
  background: #006400;
  color: #E5E5E5;
  padding-left:12px;
  width: 60px;
  height: 60px;
  border-right: 10px solid #006400;
  border-bottom: 4px solid #006400;
}

/*Found on https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background*/
.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: #E5E5E5;
}

.fa-linkedin {
  background: #007BB5;
  color: #E5E5E5;
}

.fa-envelope {
  background: #006600;
  color: #E5E5E5;
}

.fa-phone {
  background: #660099;
  color: #E5E5E5;
}