html, body {
	text-align: center;
	height: 100%;
	background-color: #E5E5E5;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
}

header {
	position: fixed;
	width: 100%;
	min-height: 60px;
	background-color: #4A3F67;
	display: flex;
	z-index: 999;
}

header div {
	display: flex;
	justify-content: flex-start;
	font-size: 1.875rem;
	width: 30vw;
	margin: 10px;
	padding: 10px;
}

header a {
	display: flex;
	color: #DBDBDB;
}

nav {
	display: flex;
	justify-content: flex-end;
	width: 70vw;
}

nav ul {
	display: flex;
	flex-direction: row;
}

@media (max-width: 650px) {
	nav ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
}

nav ul li {
	display: flex;
	padding: 10px;
	font-size: 1.875rem;
	margin: 10px;
}

@media (max-width: 650px) {
	nav ul li {
		padding: 4px;
		margin-top: 4px;
		font-size: 1.5rem;
	}
}

nav ul li a {
	display: flex;
	color: #DBDBDB;
}

h1, h2, h3, h4, h5 {
	font-size: 2.5rem;
	padding: 40px 20px 20px 20px;
}

#Welcome {
	background-color: #252934;
	padding-top: 45vh;
	min-height: 55vh;
	color: #DBDBDB;
}

h1 {
	margin: 0 20px;
	padding: 0 20px;
}

#Welcome mark {
	background-color: #252934;
	color: #92A2CD;
}

#About {
	margin: 20px;
	padding: 20px;
}

#About p {
	font-size: 1.5rem;
	margin-bottom: 60px;
	padding: 10px;
	text-align: left;
}

#About a {
	color: #DBDBDB;
	font-size: 1.5rem;
	padding: 10px;
	width: 350px;
	height: 80px;
	background: #33798D;
	border: 2px solid #312B41;
	border-radius: 4px;
}

#About a:hover {
	background: #90C9DA;
	color: #252934;
	opacity: 1;
}

#Portfolio {
	background-color: #6F6980;
	min-height: 700px;
	padding: 20px;
	color: #DBDBDB;
}

#Portfolio p {
	font-size: 1.5rem;
	text-align: left;
	margin: 10px;
	padding: 10px;
}

#profile-visuals {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#profile-image {
	position: relative;
	min-height: 300px;
	min-width: 250px;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 
	50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background: black;
}

#profile-image::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 
	50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background: url(./joe-profile-pic.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16em, contain;
}

.skill-bars {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	padding: 10px;
	margin: 10px;
	color: #000;
}

.main-bar {
	display: flex;
	flex-direction: row;
	border: 1px solid #000;
	height: 40px;
	width: 700px;
	margin: 4px;
}

.skill-title {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8E80B3;
	height: 40px;
	width: 180px;
}

.filled-20 {
	background-color: #745CB3;
	width: 20%;
	height: 40px;
}

.filled-40 {
	background-color: #745CB3;
	width: 40%;
	height: 40px;
}

.filled-50 {
	background-color: #745CB3;
	width: 50%;
	height: 40px;
}

.empty-50 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
	background-color: #DDD0FF;
	width: 50%;
	height: 40px
}

.empty-60 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
	background-color: #DDD0FF;
	width: 60%;
	height: 40px;
}

.empty-80 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
	background-color: #DDD0FF;
	width: 80%;
	height: 40px;
}

#projects {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 40px 0;
}

@media (max-width: 650px) {
	#projects {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		
	}
}

.web-dev-projects {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}	


.web-projects, .web-projects img {
	display: flex;
	height: 270px;
	width: 480px;
	margin: 20px;
	align-items: center;
	justify-content: center;
	font-size: 1.7rem;
	color: #DBDBDB;
	background: #4A3F67;
	border: 2px solid black;
	border-radius: 10px;
}

.app-projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.app-projects a {
	display: flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	width: 250px;
	background: #6F6980;
	border: transparent;
	color: #DBDBDB;
	font-size: 1.5rem;
}

.app-projects img {
	height: 400px;
	width: 250px;
	padding: 10px;
	object-fit: cover;
}

#medium-blogposts {
	display: flex;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}

#medium-widget {
	display: flex;
	flex-grow: 1;
	align-items: baseline;
	align-content: stretch;
	margin: 30px;
	padding: 30px;
	max-width: 1200px;
}

#Contact {
	background-color: #6F6980;
	min-height: 400px;
	color: #DBDBDB;
}

#Contact p {
	margin: 10px;
	padding: 20px;
	font-size: 1.5rem;
}

#Contact .fab, #Contact .far, #Contact .fas {
	padding: 12px;
	width: 68px;
	height: 68px;
	text-align: center;
	border-radius: 50%;
	margin: 20px 5px;
	visibility: visible;
}

#Contact button {
	visibility: hidden;
}

.fa-linkedin {
	background: #0077B5;
	color: #E5E5E5;
}

.fa-github {
	background: #211F1F;
	color: #999;
}

.fa-twitter {
	background: #1DA1F2;
	color: #E5E5E5;
}

.fa-free-code-camp {
	background: #006400;
	color: #E5E5E5;
}
.fa-facebook {
	background: #4267B2;
	color: #E5E5E5;
}

.fa-instagram {
	background:
		/*left bottom*/		
		radial-gradient(circle farthest-corner at 35% 90%, #FCCC63, transparent 50%),
		radial-gradient(circle farthest-corner at 0 140%, #FCCC63, transparent 50%),
		/*left top*/		
		radial-gradient(ellipse farthest-corner at 0 -25%, #4C68D7, transparent 50%),
		radial-gradient(ellipse farthest-corner at 20% -50%, #4C68D7, transparent 50%),
		/*right top*/		
		radial-gradient(ellipse farthest-corner at 100% 0, #8A3AB9, transparent 50%),
		radial-gradient(ellipse farthest-corner at 60% -20%, #8A3AB9, transparent 50%),
		/*right bottom*/		
		radial-gradient(ellipse farthest-corner at 100% 100%, #BC2A8D, transparent),
		/*create a base coat to smooth and corner gradients */
		linear-gradient(#4C68D7, #BC2A8D 30%, #CD486D 50%, #FBAD50 70%, #FCCC63 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBAD50', 
	endColorstr='#4C68D7',GradientType=1 );
	color: #E5E5E5;
}

.fa-envelope {
	background: #00811F;
	color: #E5E5E5;
}

.fa-phone {
	background: #760089;
	color: #E5E5E5;
}

footer {
	width: 100%;
	min-height: 50px;
	background-color: #4A3F67;
	display: flex;
	color: #E5E5E5;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
}